#![enable
        (implicit_some  , atest,)]
#   ![
enable(unwrap_newtypes
    )]

(1, (2,3),0xabc4, -23.56e124, true, '\n', "blah", r#"r"aw"#, [1, 2, 3], {"a": 1, "b": 2}, Unit, Tuple(1,2), Fields(field: 1, other: 2))