#![enable(b, a,)]
#![enable(c)]
(           axes:{
        "left_paddle": Emulated(
            pos: Key(/* middle comment */W
            ),neg:
 Key(S),
        ),
        // line-comment

"right_paddle":    Emulated(
            pos         :
             Key(Up),
                        neg:
            Key(
                        Down),
                    ),
    }
    ,
    /* multi
    line
    comment */

    actions: {

    },
)